.container {
  width: 80%;
  margin: 50px auto;
}

hr {
  margin: 20px 0;
}

.video_picture {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.data_vid {
  padding: 10px;
}

.title {
  font-size: 18.72px;
}

.des {
  margin-top: 30px;
}
