.navbar {
  width: 70px;
  height: 100vh;
  position: fixed;
  font-size: 10.72px;
  background-color: #fff;
  text-align: center;
  color: black;
  margin-top: 35px;
}

.navbar_link1 {
  margin-top: 20px;
  padding: 5px 0;
}

.navbar_link {
  margin: 20px 0;
  padding: 5px 0;
}

.navbar_link:hover,
.navbar_link1:hover {
  transition: all 0.3s;
  background-color: #f0f0f0;
  cursor: pointer;
}

/* .navbar_link:hover,
.navbar_link1:hover {
  transform: scale(1.05);
  cursor: pointer;
} */
